* {
    /*border: thin red dashed;*/
    box-sizing: border-box;
  }
  body {
    font-family: 'Rubik', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
  }
  .container {
    width: 960px;
  }
  .button {
    color: rgb(255, 136, 0);
    border: 1px rgb(255, 136, 0) solid;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .one-third {
    width: 32%;
  }
  .player-card {
    border: thin green solid;
    width: 49%;
  }
  .outcome-card {
    border: thin red solid;
    width: 67%;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .row-center {
    display: flex;
    justify-content: center;
  }
  .mb {
    margin-bottom: 5px;
  }
  .centered {
    text-align: center;
  }